@page
@model PresentationLayer_App.Pages.ImageModel
@{
    ViewData["Title"] = "Image";
}
<fieldset class="container">
    <legend align="center" class="text-uppercase">→ image display ←</legend>

    <div class="container" id="Image_Form" align="center">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-white p-4">
                    <img src="https://user-images.githubusercontent.com/22680912/46479049-d8a9c400-c80b-11e8-92a1-89fc10701f4a.jpg" style="margin-right: 5px; border-radius: 5px; margin-top: 8px;" width="750" height="350" align="middle" />
                </div>
            </div>
            <nav class="navbar navbar-white bg-white">
                <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon text-secondary">&#8595;</span>
                </button>
            </nav>
        </div>
    </div>
</fieldset>