@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<fieldset class="container">
    <legend class="container text-center text-uppercase">
        developer's presentation
    </legend>

    <p class="mb-0 text-center h3 bg-dark text-light" style="border-radius: 3px;"><strong><i>In a firt place, let me introduce myself as a student.</i></strong></p>

    <div>
        <p class="container text-justify" style="font-size: large;">
            <img src="https://jlsa.000webhostapp.com/photo_2022-01-24_13-31-28.jpg" style="margin-right: 5px; border-radius: 3px; margin-top: 8px;" width="250" height="350" align="left"> <br>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Jorge Luis Sepulveda Abreu</li>
                <li class="list-group-item">2020-10714</li>
                <li class="list-group-item">Prof. Jean Carlos Arnaud Batista</li>
                <li class="list-group-item">Sección #3</li>
                <li class="list-group-item">1<sup class="text-lower" style="font-size: xx-small;">ra</sup> asignación.</li>
            </ul>
        </p>
    </div>
</fieldset>
    
