<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation Layer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        /*Custom interface*/
        sup {
            vertical-align: super;
            font-size: smaller;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        fieldset {
            border-radius: 20px;
            width: 60%;
            height: 40%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
            padding: 5px;
            background-color: white;
        }

        legend {
            border-radius: 10px;
            border: solid 4px #343a40;
            margin-top: 3%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
            padding: 5px;
            background-color: white;
        }

        header {
            border-radius: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
            padding: 5px;
            background-color: white;
        }

        footer {
            border-radius: 10px;
            margin-top: 3%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: medium;
            padding: 5px;
            background-color: white;
        }

        body {
            border-radius: 10px;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-image: url("https://itla.edu.do/wp-content/uploads/2021/02/bg-itla.jpg");
            background-size: 100%;
        }

        #introLayer {
            border-radius: 10px;
            margin-top: 3%;
            width: 90%;
            height: 60%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
            padding: 5px;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://cdn.icon-icons.com/icons2/3178/PNG/128/coding_computer_pc_screen_code_icon_193925.png" width="30" height="30" alt="">
                </a>
                <a class="navbar-brand text-uppercase" asp-area="" asp-page="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="Greetings">Hello, world!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="Form">Form example</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="Image">Image example</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="introLayer" class="container bg-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; C1-2022 - Presentation Layer Proyect - <a asp-area="" asp-page="Index">Information</a>
        </div>
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
